<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Pricevat:</b>
  <%= @product.priceVat %>
</p>

<p>
  <b>Priceorigin:</b>
  <%= @product.priceOrigin %>
</p>

<p>
  <b>Priceoriginvat:</b>
  <%= @product.priceOriginVat %>
</p>

<p>
  <b>Expiredate:</b>
  <%= @product.expireDate %>
</p>

<p>
  <b>Expired:</b>
  <%= @product.expired %>
</p>

<h2>Stocks</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Size</th>
  </tr>
  <% @product.stocks.each do |stock|  %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.quantity.to_s %></td>
      <td><%= Size.find_by_id(stock.size_id).name  %></td>
    </tr>
  <% end %>
</table>

<div>
  <%= render 'stock' %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
